<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281897935076-0te1p07eb9blop2hiaqr2cvsaa37isgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281897935076-0te1p07eb9blop2hiaqr2cvsaa37isgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>281897935076-86uf90bks08gvmpgafblki2sqaaqlse0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCUEQ7HEkb58oWnk-9NczU4mubUSxpSIA</string>
	<key>GCM_SENDER_ID</key>
	<string>281897935076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMongoStitchExample</string>
	<key>PROJECT_ID</key>
	<string>alien-span-276221</string>
	<key>STORAGE_BUCKET</key>
	<string>alien-span-276221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281897935076:ios:c18ffb6549f9c7f58a8cf1</string>
	<key>DATABASE_URL</key>
	<string>https://alien-span-276221.firebaseio.com</string>
</dict>
</plist>